---
import Heading from "~/components/Heading.astro";
import TextSquiggly from "~/components/TextSquiggly.astro";

interface Props {
	heading: string;
	squiggly?: "medium" | "wide";
}

const { heading, squiggly = "medium" }: Props = Astro.props;
---

<div
	class:list={["hero-contents-standard", `hero-contents-standard-${squiggly}`]}
>
	<TextSquiggly width={squiggly}>
		<Heading level="h1" slot="inside">{Astro.props.heading}</Heading>
	</TextSquiggly>

	<p class="hero-contents-standard-body">
		<slot />
	</p>
</div>

<style>
	.hero-contents-standard {
		align-items: center;
		display: flex;
		flex-direction: column;
		gap: 1rem;
		padding: 5rem;
		margin-bottom: 2rem;
		text-align: center;
	}

	h1 {
		font-size: var(--fontSizeHero);
		font-weight: var(--fontWeightMedium);
	}

	.hero-contents-standard-wide h1 {
		padding-bottom: 0.25rem;
	}

	.hero-contents-standard-body {
		font-size: var(--fontSizeMedium);
		font-weight: var(--fontWeightLight);
		max-width: 35rem;
	}
</style>
