---
import InlineBlock from "~/components/InlineBlock.astro";

const { class: className, ...props } = Astro.props;
---

<div class:list={["hero-locators", className]} {...props}>
	<InlineBlock class="date">September 18-19, 2025 ·</InlineBlock>
	<InlineBlock class="location">Boston New England Aquarium</InlineBlock>
</div>

<style>
	.hero-locators {
		color: var(--colorAccentMedium);
		font-family: var(--fontFamilyHeading);
		font-size: var(--fontSizeMedium);
	}
</style>
