---
import InlineBlock from "~/components/InlineBlock.astro";
import Logo from "~/components/Logo.astro";
import BaseLayout from "~/layouts/BaseLayout.astro";
---

<BaseLayout
	description="A Boston conference for excellent web dev tooling."
	title="Ad"
>
	<div class="ad">
		<Logo />
		<div>
			<InlineBlock>September 18-19, 2025 · </InlineBlock>
			<InlineBlock>Boston New England Aquarium</InlineBlock>
		</div>
	</div>
</BaseLayout>

<style>
	.ad {
		align-items: center;
		color: var(--colorAccentLight);
		display: flex;
		flex-direction: column;

		gap: 1rem;
		height: 100vh;
		justify-content: center;
		width: 100%;
	}
</style>
