---
import AboutUs from "~/components/AboutUs.astro";
import Arrow from "~/components/Arrow.astro";
import Button from "~/components/Button.astro";
import ExplainersList from "~/components/explainers/ExplainersList.astro";
import Hero from "~/components/hero/Hero.astro";
import HeroLocators from "~/components/hero/HeroLocators.astro";
import HeroTagline from "~/components/hero/HeroTagline.astro";
import InlineBlock from "~/components/InlineBlock.astro";
import SessionsSummarySection from "~/components/SessionsSummarySection.astro";
import Newsletter from "~/components/Newsletter.astro";
import Registration from "~/components/Registration.astro";
import TextSquiggly from "~/components/TextSquiggly.astro";
import { links } from "~/data/links";
import PageLayout from "~/layouts/PageLayout.astro";
import Partners from "~/components/Partners.astro";
import Sponsors from "~/components/Sponsors.astro";
---

<PageLayout description="A Boston conference for excellent web dev tooling.">
	<Hero scrollNotice tall>
		<HeroLocators class="hero-locators" />

		<HeroTagline>
			SquiggleConf brings together the admirers, contributors, and maintainers
			of the latest and greatest in
			<InlineBlock>
				<TextSquiggly width="wide">
					<Fragment slot="inside">web dev tooling</Fragment>
					<Fragment slot="after">.</Fragment>
				</TextSquiggly>
			</InlineBlock>
		</HeroTagline>

		<div class="hero-bottom">
			<Button
				as="a"
				class="hero-button"
				size="large"
				variant="emphasized"
				href={links.tickets}
				target="_blank"
			>
				Get your tickets now
				<Arrow />
			</Button>
		</div>
	</Hero>
	<SessionsSummarySection />
	<ExplainersList />
	<AboutUs />
	<Registration />
	<Sponsors />
	<Partners />
	<Newsletter />
</PageLayout>

<style>
	.hero-locators {
		padding: clamp(2.5rem, 6vw, 4.5rem) 0 clamp(1.5rem, 5vw, 2.5rem);
	}

	.hero-bottom {
		align-items: flex-start;
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		margin-top: 3.5rem;
	}

	.hero-button {
		gap: 0.5rem;
	}
</style>
