---
import BodyText from "~/components/BodyText.astro";
import CommonContent from "~/components/CommonContent.astro";
import Hero from "~/components/hero/Hero.astro";
import HeroContentsStandard from "~/components/hero/HeroContentsStandard.astro";
import { publicSchedule } from "~/data/public";
import Registration from "~/components/Registration.astro";
import PageLayout from "~/layouts/PageLayout.astro";
import ScheduledActivities from "~/components/ScheduledActivities.astro";

const description =
	"Important dates leading up to SquiggleConf 2025 and events during the conference itself.";
---

<PageLayout description={description} title="Schedule">
	<Hero>
		<HeroContentsStandard heading="Schedule" squiggly="wide">
			{description}
		</HeroContentsStandard>
	</Hero>

	<CommonContent heading="CFP">
		<BodyText>
			The SquiggleConf CFP will be open through May 23rd. See <a href="/cfp"
				>CFP</a
			> for more details.
		</BodyText>
	</CommonContent>

	<CommonContent heading="Tickets">
		<ol class="tickets-list">
			<li>
				$300 Super early bird tickets were available in limited quantities
				through March 2nd. They are now sold out.
			</li>
			<li>
				$350 Early bird tickets will be available in limited quantities through
				June 30th.
			</li>
			<li>
				$550 General tickets will be available until the morning of September
				18th.
			</li>
		</ol>
	</CommonContent>

	<CommonContent heading="The Conference">
		<BodyText class="time-zone-note">
			All times are in EDT, local to Boston.
		</BodyText>

		<ScheduledActivities days={publicSchedule} />
	</CommonContent>

	<Registration />
</PageLayout>

<style>
	.tickets-list {
		font-size: var(--fontSizeSmall);
		font-weight: var(--fontWeightMedium);
		display: flex;
		gap: 1rem;
		flex-direction: column;
	}

	.time-zone-note {
		margin: auto;
	}

	.schedule-section {
		margin-bottom: 3.5rem;
	}
</style>
