---
import clockTower from "~/assets/stills/clock-tower.png";
import duckBoatTourAfter from "~/assets/stills/duck-boat-tour-after.png";
import BodyText from "~/components/BodyText.astro";
import CommonContent from "~/components/CommonContent.astro";
import Hero from "~/components/hero/Hero.astro";
import HeroContentsStandard from "~/components/hero/HeroContentsStandard.astro";
import ImagesAndTextTwoColumn from "~/components/ImagesAndTextTwoColumn.astro";
import Registration from "~/components/Registration.astro";
import PageLayout from "~/layouts/PageLayout.astro";
---

<PageLayout description="A Boston conference for excellent web dev tooling.">
	<Hero>
		<HeroContentsStandard heading="Travel">
			How to get to and around Boston when you’re attending SquiggleConf
		</HeroContentsStandard>
	</Hero>

	<CommonContent heading="Location">
		<BodyText>
			SquiggleConf 2024 will be held at the New England Aquarium Simons Theatre
			at 1 Central Wharf, Boston MA.
			<br />
			<br />
			When facing the Aquarium entrance, Simons Theatre is to the right. Look for
			SquiggleConf banners outside the theater to confirm you're in the right place.
			<br />
			<br />
		</BodyText>
		<iframe
			allowfullscreen=""
			height="320"
			loading="lazy"
			referrerpolicy="no-referrer-when-downgrade"
			src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2948.2374277204103!2d-71.05276952319306!3d42.35877907119312!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e3708790db7415%3A0xa9fbb8bf1c5e8e24!2sSimons%20Theatre!5e0!3m2!1sen!2sus!4v1724284919111!5m2!1sen!2sus"
			title="Simons Theatre on Google Maps"></iframe>
		<div class="travel-links">
			<a
				href="https://maps.apple.com/?auid=11717693884170167159"
				target="_blank"
			>
				Apple Maps
			</a>
			<a href="https://maps.app.goo.gl/4jWEL7z6iBoA6y9z8" target="_blank">
				Google Maps
			</a>
			<a href="https://waze.com/ul/hdrt2zpnrn" target="_blank">Waze</a>
		</div>
	</CommonContent>

	<CommonContent heading="Flights">
		<BodyText>
			<a
				href="https://massport.com/logan-airport"
				target="_blank"
				rel="noreferrer"
			>
				Boston Logan International Airport (BOS)</a
			> is the closest airport for out-of-town travelers.
			<br />
			<br />
			To reach downtown, you can take a ~15 minute Lyft/Uber or use
			<a
				href="https://www.massport.com/logan-airport/getting-to-logan/public-transportation"
				target="_blank">Boston Logan Public Transportation</a
			>.
		</BodyText>
	</CommonContent>

	<CommonContent heading="Hotels">
		<BodyText>
			We recommend the
			<a href="https://www.harborsideinnboston.com" target="_blank"
				>Harborside Inn</a
			> at 185 State St, down the street from the venue.
		</BodyText>
	</CommonContent>

	<CommonContent heading="Public Transportation">
		<BodyText>
			Regional & Commuter Trains: The MBTA South Station is a 15–20 minute walk
			from the conference venue. Amtrak and MBTA Commuter Rail services connect
			South Station to cities across the Northeast, including ~4-hour trains
			from New York City.
			<br />
			<br />
			Subway/Bus: The MBTA Blue Line Aquarium stop is steps from the venue. The Atlantic
			Ave @ Milk St 4 Line Bus stop is also nearby.
		</BodyText>
	</CommonContent>

	<CommonContent class="parking" heading="Parking">
		<BodyText>
			The Boston Harbor Garage is located next to the venue.
			<br />
			<br />
			The New England Aquarium validates parking, lowering the cost from $46 to $32
			for visitors.
			<br />
			<br />
			Additional parking garages are within walking distance. For locations and pricing
			details, visit the <a
				href="https://www.neaq.org/visit/directions-and-parking"
				target="_blank">New England Aquarium’s parking information page</a
			>.
		</BodyText>
	</CommonContent>

	<ImagesAndTextTwoColumn
		heading="Explore Boston"
		images={{
			primary: clockTower,
			secondary: [
				{
					alt: "Smiling group of SquiggleConf staff and speakers, some in SquiggleConf shirts, outside a Boston duck boat on the harbor",
					height: "160",
					src: duckBoatTourAfter,
				},
			],
		}}
	>
		<BodyText>
			If you have extra time before or after SquiggleConf, here are a few great
			places to check out:
		</BodyText>

		<ul class="explore-list">
			<li>
				Faneuil Hall & Quincy Market – A lively marketplace with food stalls,
				shops, and street performances.
			</li>
			<li>
				The Freedom Trail – A scenic walk through Boston’s most historic sites,
				including Paul Revere’s House.
			</li>
			<li>
				Boston Harborwalk – A waterfront path with stunning views and great
				seafood restaurants.
			</li>
			<li>
				North End (Little Italy) – Famous for Italian food—grab a cannoli from
				Mike’s Pastry or Modern Pastry.
			</li>
			<li>
				Isabella Stewart Gardner Museum – A unique art museum in a stunning
				Venetian-style mansion.
			</li>
			<li>
				The Boston Tea Party Ships & Museum – An interactive experience that
				brings history to life.
			</li>
		</ul>

		<BodyText>
			For more recommendations, visit
			<a href="https://meetboston.com" target="_blank"
				>Boston’s official visitor guide</a
			>.
		</BodyText>
	</ImagesAndTextTwoColumn>
	<Registration />
</PageLayout>

<style>
	iframe {
		border: 1px solid var(--colorAccentMedium);
		margin: auto;
		max-width: 100%;
	}

	.travel-links {
		display: flex;
		font-size: var(--fontSizeSmall);
		font-weight: var(--fontWeightLight);
		gap: 1.5rem;
		justify-content: center;
		padding: 1rem;
		width: 100%;
	}

	.parking {
		padding-bottom: 3.5rem;
	}

	.explore-list li {
		padding-left: 0.5rem;
		margin: 1rem 2rem;
	}
</style>
