---
import { ImageMetadata } from "astro";
import { Image } from "astro:assets";

export interface ExplainerAction {
	href: string;
	text: string;
}

export interface ExplainerImageData {
	alt: string;
	src: ImageMetadata;
}

export interface ExplainerPhotos {
	primary: ExplainerImageData;
	secondary: [ExplainerImageData, ExplainerImageData];
}

export interface Props {
	action?: ExplainerAction;
	body: string;
	direction: string;
	heading: string;
	photos: ExplainerPhotos;
}

function computeImageSizes(
	{ height, width }: { height: number; width: number },
	bound: number,
): { height: string; width: string } {
	if (height < width) {
		const opposite = computeImageSizes({ height: width, width: height }, bound);
		return { height: opposite.width, width: opposite.height };
	}

	return {
		height: `${bound}rem`,
		width: (width * bound) / height + "rem",
	};
}
---

<div
	class:list={["explainer-images", `explainer-images-${Astro.props.direction}`]}
>
	<Image
		class="explainer-image-primary"
		layout="responsive"
		{...Astro.props.photos.primary}
	/>
	{
		Astro.props.photos.secondary.map((secondary, i) => (
			<Image
				class="explainer-image-secondary"
				{...secondary}
				style={computeImageSizes(secondary.src, 16 - i * 4)}
			/>
		))
	}
</div>

<style>
	.explainer-images {
		--offsetHorizontal: 2rem;
		--offsetVertical: 1rem;
		margin: auto;
		position: relative;
		user-select: none;
	}

	.explainer-image-primary {
		width: 100%;
	}

	.explainer-image-secondary {
		display: none;
	}

	@media (width >= 1017px) {
		.explainer-images {
			width: calc(var(--sizeContentAreaThin) - 2 * var(--offsetHorizontal));
		}
		.explainer-image-primary {
			display: block;
			height: 22.5rem;
			margin: auto;
			width: 41.25rem;
		}

		.explainer-image-secondary {
			display: initial;
			position: absolute;
		}

		.explainer-images-down .explainer-image-secondary:nth-child(2),
		.explainer-images-up .explainer-image-secondary:nth-child(2) {
			left: calc(var(--offsetHorizontal) * -1);
		}

		.explainer-images-down .explainer-image-secondary:nth-child(3),
		.explainer-images-up .explainer-image-secondary:nth-child(3) {
			right: calc(var(--offsetHorizontal) * -1);
		}

		.explainer-images-down .explainer-image-secondary:nth-child(2),
		.explainer-images-up .explainer-image-secondary:nth-child(3) {
			top: calc(var(--offsetVertical) * -1);
		}

		.explainer-images-down .explainer-image-secondary:nth-child(3),
		.explainer-images-up .explainer-image-secondary:nth-child(2) {
			bottom: calc(var(--offsetVertical) * -1);
		}
	}
</style>
