---
import Heading from "~/components/Heading.astro";
import BodyText from "~/components/BodyText.astro";
import Button from "~/components/Button.astro";
---

<div class="explainer-area">
	<Heading level="h2">{Astro.props.heading}</Heading>
	<div class="explainer-images">
		<slot />
	</div>
	<BodyText class="explainer-body">{Astro.props.body}</BodyText>
	{
		Astro.props.action && (
			<div class="explainer-action-area">
				<Button
					as="a"
					href={Astro.props.action.href}
					size="large"
					variant="accent"
				>
					{Astro.props.action.text}
				</Button>
			</div>
		)
	}
</div>

<style>
	.explainer-area {
		color: var(--colorBackground);
		margin: 0 2rem;
		position: relative;
	}

	h2 {
		font-size: var(--fontSizeHero);
		font-weight: var(--fontWeightSemibold);
		padding: 5rem 2rem 3.5rem;
		position: relative;
		text-align: center;
		z-index: 1;
	}

	.explainer-body {
		font-family: var(--fontFamilyBody);
		font-size: var(--fontSizeMedium);
		font-weight: var(--fontWeightMedium);
		letter-spacing: var(--letterSpacingLoose);
		line-height: 1.35;
		margin: 2.5rem auto;
		max-width: var(--sizeContentAreaEmphasized);
		position: relative;
		text-align: center;
		z-index: 1;
	}

	.explainer-action-area {
		display: flex;
		justify-content: center;
		padding: 0 2rem;
		width: 100%;
	}
</style>
