---
import Heading from "~/components/Heading.astro";
import Button from "~/components/Button.astro";
import ExplainerHeading from "./ExplainerHeading.astro";

const { class: className, heading, body, action, ...props } = Astro.props;
---

<div class:list={["explainer-area", className]} {...props}>
	<ExplainerHeading heading={heading} />
	<div class="explainer-images">
		<slot />
	</div>
	<p class="explainer-body">{body}</p>
	{
		action && (
			<div class="explainer-action-area">
				<Button as="a" href={action.href} size="large" variant="emphasized">
					{action.text}
				</Button>
			</div>
		)
	}
</div>

<style>
	.explainer-area {
		color: var(--colorBackground);
		margin: 0 2rem;
		position: relative;
	}

	.explainer-body {
		color: var(--colorBackground);
		font-size: var(--fontSizeSmall);
		font-weight: var(--fontWeightMedium);
		line-height: 1.35;
		margin: auto;
		max-width: var(--sizeContentAreaEmphasized);
		padding: 1.5rem 5.5rem;
		position: relative;
		text-align: center;
		z-index: 1;
	}

	.explainer-action-area {
		display: flex;
		justify-content: center;
		padding: 0 3.5rem;
		width: 100%;
	}
</style>
