---
import BodyText from "./BodyText.astro";
import Button from "./Button.astro";
import ContentArea from "./ContentArea.astro";
import Heading from "./Heading.astro";
import TextSquiggly from "./TextSquiggly.astro";
---

<div class="ad-newsletter-thin">
	<ContentArea as="section" class="ad-newsletter-contents">
		<Heading class="ad-newsletter-heading" level="h2">
			Sign up to receive announcements and important
			<TextSquiggly renderAs="strong" width="medium">
				<Fragment slot="inside">SquiggleConf</Fragment>
			</TextSquiggly>
			info.
		</Heading>

		<form
			action="https://app.loops.so/api/newsletter-form/clwpkthom0067d11n8jbrxb3b"
			id="newsletter-form"
			method="POST"
		>
			<label class="email-label" for="email">Email Address</label>
			<input
				class="email-input"
				id="email"
				name="email"
				type="email"
				placeholder="cool.dev@awesome.com"
			/>
			<Button as="button" id="submit" type="submit" variant="light"
				>Subscribe</Button
			>
		</form>

		<BodyText aria-live="assertive" id="newsletter-message" />
	</ContentArea>
</div>

<script>
	const form = document.getElementById("newsletter-form") as HTMLFormElement;
	const input = document.getElementById("email") as HTMLInputElement;
	const submit = document.getElementById("submit") as HTMLButtonElement;

	function setSubmitDisabled() {
		submit.disabled = !input.value;
	}

	input.addEventListener("change", setSubmitDisabled);
	setSubmitDisabled();

	function setMessage(text: string, status: "happy" | "unhappy") {
		const messageDiv = document.getElementById(
			"newsletter-message",
		) as HTMLDivElement;

		messageDiv.textContent = text;

		if (status === "unhappy") {
			messageDiv.classList.add("unhappy");
		} else {
			messageDiv.classList.remove("unhappy");
		}
	}

	form.addEventListener("submit", (event) => {
		event.preventDefault();

		const submitButton = form.querySelector("button") as HTMLButtonElement;
		submitButton.disabled = true;

		const emailInput = form.querySelector("input") as HTMLInputElement;
		const email = emailInput.value;

		const formBody = "userGroup=&email=" + encodeURIComponent(email);
		fetch(form.action, {
			method: "POST",
			body: formBody,
			headers: {
				"Content-Type": "application/x-www-form-urlencoded",
			},
		})
			.then((response) => [response.ok, response.json(), response] as const)
			.then(([ok, dataPromise, response]) => {
				dataPromise.then((data) => {
					console.log({ data });
					if (ok) {
						setMessage("Thanks for signing up!", "happy");
						form.reset();
						return;
					}

					setMessage(
						`There was an issue: ${data || response.statusText}`,
						"unhappy",
					);
				});
			})
			.catch((error) => {
				setMessage(
					error.message === "Failed to fetch"
						? "Too many requests. Try again later, please?"
						: error.message,
					"unhappy",
				);
			})
			.finally(() => {
				submitButton.disabled = false;
			});
	});
</script>

<style>
	.ad-newsletter-thin {
		background: var(--colorAccentMedium);
		padding: 3rem 0;
		text-align: center;
	}

	.ad-newsletter-contents {
		align-items: center;
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}

	.ad-newsletter-heading {
		font-size: var(--fontSizeLarge);
		max-width: 40rem;
	}

	form {
		align-items: center;
		display: flex;
		flex-direction: column;
		font-size: var(--fontSizeSmall);
	}

	.email-input {
		border: none;
		border-radius: 3px;
		font-family: var(--fontFamilyText);
		font-size: var(--fontSizeSmall);
		margin: 0.5rem 0 1rem;
		padding: 1rem 0.5rem;
		width: 25rem;
	}

	.email-input::placeholder {
		color: var(--colorDark);
	}

	#newsletter-message {
		margin: auto;
	}

	#newsletter-message.unhappy {
		color: var(--colorUnhappy);
	}
</style>
