---
import Button from "./Button.astro";
import ContentArea from "./ContentArea.astro";
import Heading from "./Heading.astro";
---

<ContentArea as="section">
	<Heading level="h2">Registration is open!</Heading>
	<Button>Get extra early bird tickets now!</Button>
</ContentArea>
