---
import tripleSquiggly from "~/assets/design/triple-squiggly.svg";

import Button from "./Button.astro";
import ContentArea from "./ContentArea.astro";
---

<section class="ad-tickets-thin">
	<div
		class="triple-squiggly"
		style={{ "background-image": `url(${tripleSquiggly.src})` }}
	>
	</div>
	<ContentArea class="ad-tickets-content">
		<Button size="large" variant="accent"
			>Get extra early bird tickets now!</Button
		>
	</ContentArea>
</section>

<style>
	.ad-tickets-thin {
		align-items: center;
		display: flex;
		padding: 2rem 0;
		position: relative;
		margin: 3.5rem 0;
	}

	.triple-squiggly {
		position: absolute;
		width: 100%;
		background-repeat: repeat-x;
		background-size: auto 9rem;
		display: block;
		height: 9rem;
	}

	.ad-tickets-content {
		position: relative;
		z-index: 1;
	}
</style>
