---
const { class: className, ...props } = Astro.props;
---

<div class:list={["body-area", className]} {...props}>
	<slot />
</div>

<style>
	.body-area {
		background: linear-gradient(
			180deg,
			var(--colorBlueBright2) 50%,
			var(--colorBlueBright1) 100%
		);
		height: 100%;
		position: relative;
	}
</style>
