<div class="body-area">
	<slot />
</div>

<style>
	.body-area {
		background: linear-gradient(
			180deg,
			var(--colorBlueBright3) 50%,
			var(--colorBlueBright4) 100%
		);
		height: 100%;
		position: relative;
	}
</style>
