<div class="body-area">
	<slot />
</div>

<style>
	.body-area {
		background: linear-gradient(180deg, #053051 10%, #06213b 90%);
		height: 100%;

		/* Temporary, while content is filled out... */
		min-height: 20rem;
	}
</style>
