---
import { Image } from "astro:assets";
import LogomarkTransparent from "~/assets/2025/logomark-transparent.svg";
import LogoWith2025 from "~/assets/2025/logo-with-2025.svg";
import Logo from "~/assets/2025/logo.svg";
import LogomarkOnBackground from "~/assets/2025/logomark-on-background.svg";

const assets = [
	{
		name: "Logomark Transparent",
		src: LogomarkTransparent,
		alt: "SquiggleConf logomark on a transparent background",
	},
	{
		name: "Logomark on Background",
		src: LogomarkOnBackground,
		alt: "SquiggleConf logomark on a dark blue background",
	},
	{
		name: "Logo with 2025",
		src: LogoWith2025,
		alt: "SquiggleConf logo with 2025",
	},
	{
		name: "Logo",
		src: Logo,
		alt: "SquiggleConf logo",
	},
];
---

<div class="branding">
	{
		assets.map(({ name, src, alt }) => (
			<figure>
				<Image class="asset-image" src={src} alt={alt} />
				<figcaption>
					<a href={src.src} target="_blank">
						{name}
					</a>
				</figcaption>
			</figure>
		))
	}
</div>

<style>
	.branding {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		text-align: center;
	}

	.asset-image {
		max-width: 15rem;
	}
</style>
