<div class="card">
	<slot />
</div>

<style>
	.card {
		background: var(--colorSand);
		border: 2px solid var(--colorBackgroundEmphasized);
		color: var(--colorBackgroundMono);
		display: block;
		font-family: var(--fontFamilyHeading);
		font-size: var(--fontSizeSmaller);
		font-weight: var(--fontWeightMedium);
		letter-spacing: var(--letterSpacingLoose);
		line-height: var(--lineHeightLarge);
		padding: 1rem 1.25rem;
	}
</style>
