---
import { ImageMetadata } from "astro";
import Heading from "./Heading.astro";
import BodyText from "./BodyText.astro";
import { Image } from "astro:assets";

export interface ExplainerImageData {
	alt: string;
	src: ImageMetadata;
}

export interface ExplainerPhotos {
	primary: ExplainerImageData;
	secondary: [ExplainerImageData, ExplainerImageData];
}

export interface ExplainerData {
	body: string;
	heading: string;
	photos: ExplainerPhotos;
	direction: "down" | "up";
}

export type Props = ExplainerData;
---

<div>
	<Heading level="h3">{Astro.props.heading}</Heading>
	<div>
		<Image {...Astro.props.photos.primary} />
		<Image {...Astro.props.photos.secondary[0]} />
		<Image {...Astro.props.photos.secondary[1]} />
	</div>
	<BodyText>{Astro.props.body}</BodyText>
</div>
