---
import ContentArea from "./ContentArea.astro";
import InlineBlock from "./InlineBlock.astro";
import Logo from "./Logo.astro";
import Socials from "./Socials.astro";
---

<footer>
	<ContentArea class="footer-content-area" width="wide">
		<div class="left">
			<Logo />
			<div>
				<InlineBlock>September 18-19, 2025 · </InlineBlock>
				<InlineBlock>Boston New England Aquarium</InlineBlock>
			</div>
		</div>
		<div class="right">
			<div class="footer-links">
				<a href="/code-of-conduct">Code of Conduct</a>
				<a href="https://shop.squiggle.tools" target="_blank">Shop</a>
				<a href="https://2024.squiggleconf.com" target="_blank">2024</a>
			</div>
			<Socials />
		</div>
	</ContentArea>
</footer>

<style>
	footer {
		background: #0f2936;
		color: var(--colorAccentLight);
		font-size: var(--fontSizeSmallest);
		font-weight: var(--fontWeightLight);
		padding: 3.5rem 0;
		width: 100%;
	}

	.footer-content-area {
		display: flex;
		flex-direction: column;
		gap: 3rem;
		justify-content: space-between;
	}

	.left {
		display: flex;
		flex-direction: column;
		gap: 0.75rem;
	}

	.right {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
	}

	.footer-links {
		display: flex;
		gap: 2rem;
	}

	.footer-links a {
		text-decoration: none;
	}

	@media (width >= 819px) {
		.footer-content-area {
			flex-direction: row;
		}

		.right {
			align-items: flex-end;
			color: var(--colorLight);
		}
	}
</style>
