---
import ContentArea from "./ContentArea.astro";
---

<footer>
	<ContentArea class="footer-content-area" width="wide">
		<div>
			<div>SquiggleConf</div>
			<div>September 18-19, 2025 · Boston New England Aquarium</div>
		</div>
		<div>
			<div>
				<a href="https://shop.squiggle.tools">Shop</a>
				<a href="/code-of-conduct">Code of Conduct</a>
			</div>
			<div>Social Links Here</div>
		</div>
	</ContentArea>
</footer>

<style>
	footer {
		padding: 2rem 0;
		width: 100%;
	}

	.footer-content-area {
		display: flex;
		justify-content: space-between;
	}
</style>
