---
import { currentYear, years } from "~/data/years";
import ContentArea from "./ContentArea.astro";
import InlineBlock from "./InlineBlock.astro";
import Logo from "./Logo.astro";
import Socials from "./Socials.astro";

interface Props {
	year: number;
}

const yearPairs =
	Astro.props.year === currentYear
		? years
				.filter((year) => year !== currentYear)
				.map((year) => [`/${year}`, year] as const)
		: ([["/", 2025]] as const);
---

<footer>
	<ContentArea class="footer-content-area" width="wide">
		<div class="left">
			<Logo />
			<div>
				<InlineBlock>September 18-19, 2025 · </InlineBlock>
				<InlineBlock>Boston New England Aquarium</InlineBlock>
			</div>
		</div>
		<div class="right">
			<div class="footer-links">
				<a href="/code-of-conduct">Code of Conduct</a>
				<a href="https://shop.squiggle.tools" target="_blank">Shop</a>
				{
					yearPairs.map(([yearHref, yearText]) => (
						<a href={yearHref} target="_blank">
							{yearText}
						</a>
					))
				}
			</div>
			<Socials />
		</div>
	</ContentArea>
</footer>

<style>
	footer {
		background: #0f2936;
		color: var(--colorForegroundEmphasized);
		font-family: var(--fontFamilyHeading);
		padding: 3.5rem 0;
		width: 100%;
	}

	.footer-content-area {
		display: flex;
		flex-direction: column;
		gap: 3rem;
		justify-content: space-between;
	}

	.left {
		color: var(--colorBlue1);
		display: flex;
		flex-direction: column;
		gap: 0.75rem;
	}

	.right {
		color: var(--colorBlue1);
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
	}

	.footer-links {
		display: flex;
		gap: 1rem;
	}

	.footer-links a {
		text-decoration: none;
	}

	@media (width >= 819px) {
		.footer-content-area {
			flex-direction: row;
		}

		.right {
			align-items: flex-end;
		}
	}
</style>
