---
import { links } from "~/data/links";
import Button from "./Button.astro";
import ContentArea from "./ContentArea.astro";
import Logo from "./Logo.astro";

function hrefProps(pathname: string) {
	return {
		class: Astro.url.pathname === pathname ? "" : "header-link-inactive",
		href: pathname,
	};
}
---

<header>
	<ContentArea class="header-content-area-mobile">
		<a class="logo" href="/"><Logo year /></a>

		<details id="details">
			<summary aria-label="Toggle header">≡</summary>
			<div class="header-contents-mobile">
				<a {...hrefProps("/")}>Home</a>
				<a {...hrefProps("https://2024.squiggleconf.com")}>2024 Conf</a>
				<Button
					as="a"
					class="header-button"
					href={links.tickets}
					target="_blank"
					variant="accent">Register</Button
				>
			</div>
		</details>
	</ContentArea>

	<ContentArea class="header-content-area-wide" width="wide">
		<a class="logo" href="/"><Logo year /></a>
		<div class="header-links">
			<a {...hrefProps("/")}>Home</a>
			<a {...hrefProps("https://2024.squiggleconf.com")}>2024 Conf</a>
			<Button
				as="a"
				class="header-button"
				href={links.tickets}
				target="_blank"
				variant="accent">Register</Button
			>
		</div>
	</ContentArea>
</header>

<script>
	const details = document.querySelector(
		"details#details",
	) as HTMLDetailsElement;
	details.addEventListener("click", (event) => {
		if ((event.target as Partial<HTMLElement>).tagName === "A") {
			details.removeAttribute("open");
		}
	});
</script>

<style>
	header {
		font-size: var(--fontSizeSmall);
		padding: 1.5rem 0;
		width: 100%;
	}

	.logo {
		text-decoration: none;
	}

	.header-content-area-mobile {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	details {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		z-index: 2;
		text-align: right;
	}

	summary {
		display: inline-block;
		cursor: pointer;
		font-size: 4rem;
		list-style: none;
		padding: 0 1rem;
		position: relative;
		z-index: 2;
	}

	summary::-webkit-details-marker {
		display: none;
	}

	.header-contents-mobile {
		--offsetTop: 4.5rem;

		background: var(--colorDark);
		box-shadow: 0 0 1rem var(--colorTextShadow);
		display: flex;
		flex-direction: column;
		font-size: var(--fontSizeLarge);
		font-weight: bold;
		line-height: 1.5;
		margin-top: calc(var(--offsetTop) * -1);
		min-width: 20rem;
		padding: var(--offsetTop) 1rem 1rem;
		position: absolute;
		right: 0;
		text-align: right;
		width: 50%;
		z-index: 1;
	}

	.header-content-area-mobile button {
		align-self: end;
		margin-top: 1rem;
	}

	.header-content-area-wide {
		display: none;
	}

	.header-links {
		display: flex;
		align-items: center;
		font-weight: var(--fontWeightLight);
		gap: 2rem;
	}

	.header-link-inactive {
		text-decoration: none;
	}

	.header-button {
		margin-left: 0.35rem;
	}

	@media (width >= 819px) {
		.header-content-area-mobile {
			display: none;
		}

		.header-content-area-wide {
			align-items: center;
			display: flex;
			justify-content: space-between;
		}
	}
</style>
