---
interface Props {
	class?: string;
	id?: string;
	level: "h1" | "h2" | "h3" | "h4";
	link?: boolean | string;
}

const { level: As, link, ...rest } = Astro.props;
---

<As class:list={[Astro.props.class, "heading"]} {...rest}>
	{
		link ? (
			<a href={link === true ? `#${Astro.props.id}` : link}>
				<slot />
			</a>
		) : (
			<slot />
		)
	}
</As>

<style>
	.heading {
		scroll-margin-top: var(--sizeScrollMarginTop);
	}

	.heading a {
		text-decoration: none;
	}
</style>
