<div class="locators">
	<div class="date">October 3-4, 2024</div>
	·
	<div class="location">Boston New England Aquarium</div>
</div>

<div class="tagline">
	SquiggleConf brings together the admirers, contributors, and maintainers of
	the latest and greatest in web dev tooling.
</div>

<style></style>
