---
import ContentArea from "./ContentArea.astro";
import InlineBlock from "./InlineBlock.astro";
import TextSquiggly from "./TextSquiggly.astro";
---

<ContentArea as="section">
	<div class="locators">
		<InlineBlock class="date">September 18-19, 2025 ·</InlineBlock>
		<InlineBlock class="location">Boston New England Aquarium</InlineBlock>
	</div>

	<div class="tagline">
		SquiggleConf brings together the admirers, contributors, and maintainers of
		the latest and greatest in
		<InlineBlock>
			<TextSquiggly width="wide">
				<Fragment slot="inside">web dev tooling</Fragment>
				<Fragment slot="after">.</Fragment>
			</TextSquiggly>
		</InlineBlock>
	</div>
</ContentArea>

<style>
	.locators {
		color: var(--colorAccentSecond);
		font-size: var(--fontSizeMedium);
		font-weight: var(--fontWeightSemibold);
		letter-spacing: var(--letterSpacingTight);
		padding: clamp(2.5rem, 6vw, 4.5rem) 0 clamp(1.5rem, 5vw, 2.75rem);
	}

	.tagline {
		font-size: var(--fontSizeHero);
		font-weight: var(--fontWeightMedium);
	}
</style>
