---
import ContentArea from "./ContentArea.astro";
---

<ContentArea as="section">
	<div class="locators">
		<div class="date">September 18-19, 2025</div>
		·
		<div class="location">Boston New England Aquarium</div>
	</div>

	<div class="tagline">
		SquiggleConf brings together the admirers, contributors, and maintainers of
		the latest and greatest in web dev tooling.
	</div>
</ContentArea>
