---
import { ImageMetadata } from "astro";
import { Image, LocalImageProps } from "astro:assets";

import fishSchoolDull from "~/assets/design/fish-school-dull.svg";
import ContentArea from "./ContentArea.astro";
import Heading from "./Heading.astro";
import DecorativeImage from "./DecorativeImage.astro";
import { slugify } from "~/utils/id";

interface ImagesAndTextTwoColumnImages {
	primary: ImageMetadata;
	secondary: Pick<LocalImageProps, "alt" | "height" | "src">[];
}

interface Props {
	heading: string;
	images: ImagesAndTextTwoColumnImages;
}
---

<div class="images-and-text-two-column">
	<ContentArea as="section" class="images-and-text-two-column-content">
		<div class="images-and-text-two-column-decorations">
			<DecorativeImage class="fish-school-dull" src={fishSchoolDull} />
			<Image alt="" layout="responsive" src={Astro.props.images.primary} />
		</div>

		<div class="images-and-text-two-column-text">
			<Heading id={slugify(Astro.props.heading)} level="h2">
				{Astro.props.heading}
			</Heading>

			<div class="two-column-content">
				<slot />
			</div>
		</div>

		<div class="images-secondary">
			{
				Astro.props.images.secondary.map((image) => (
					<Image {...image} layout="responsive" />
				))
			}
		</div>
	</ContentArea>
</div>

<style>
	.images-and-text-two-column {
		background: var(--colorAccentLight);
		color: var(--colorBackground);
		padding: 2.5rem 1.5rem;
	}

	.images-and-text-two-column-decorations {
		display: none;
	}

	.images-and-text-two-column-text h2 {
		font-family: var(--fontFamilyLogo);
		font-size: var(--fontSizeLarger);
		font-weight: var(--fontWeightSemibold);
		color: var(--colorForegroundEmphasized);
		margin-bottom: 2rem;
	}

	.two-column-content {
		font-size: var(--fontSizeSmaller);
		font-weight: var(--fontWeightMedium);
	}

	.images-secondary {
		display: flex;
		gap: 1.5rem;
	}

	.images-secondary img {
		margin-top: 2rem;
	}

	.images-secondary img[alt=""] {
		display: none;
	}

	@media (min-width: 1117px) {
		.images-and-text-two-column {
			padding: clamp(2.5rem, 5vw, 5rem);
		}

		.images-and-text-two-column-decorations {
			align-items: end;
			display: flex;
			padding: 0 clamp(1rem, 2.5vw, 2.5rem);
			position: relative;
		}

		.fish-school-dull {
			height: 10rem;
			left: -8.5rem;
			top: -4rem;
		}

		.images-and-text-two-column-content {
			display: grid;
			grid-template-columns: 40% 60%;
			gap: 3.5rem;
			position: relative;
		}

		.images-and-text-two-column-text {
			padding: 1rem 8rem 1rem 5rem;
		}

		.images-secondary {
			position: absolute;
			left: 0;
			bottom: 1.5rem;
		}

		.images-secondary img {
			border-radius: 8px;
		}

		.images-secondary img:only-child {
			bottom: -2.5rem;
			position: relative;
		}

		.images-secondary img:nth-of-type(2) {
			position: absolute;
			left: calc(100% - 1.5rem);
			top: 60%;
		}

		.images-secondary img[alt=""] {
			display: initial;
		}
	}
</style>
