---
interface Props {
	class?: string;
}

const { class: className, ...rest } = Astro.props;
---

<span class:list={["inline-block", className]} {...rest}><slot /></span>

<style>
	.inline-block {
		display: inline-block;
	}
</style>
