---
import TextSquiggly from "./TextSquiggly.astro";

interface Props {
	invert?: boolean;
	year?: boolean;
}
---

<div class:list={["logo", Astro.props.invert ? "invert" : "regular"]}>
	<TextSquiggly width="medium">
		<Fragment slot="inside">Squiggle</Fragment>
		<Fragment slot="after">Conf</Fragment>
	</TextSquiggly>
	{Astro.props.year && <span class="year">2025</span>}
</div>

<style>
	.logo {
		color: var(--colorLogoText);
		font-family: var(--fontFamilyLogo);
		font-size: var(--fontSizeLogo);
		font-style: initial;
	}

	.logo.invert {
		--colorLogoText: var(--accentDark);
		--colorLogoYear: var(--colorBlue3);
	}

	.logo.regular {
		--colorLogoText: var(--colorWhiteIsh);
		--colorLogoYear: var(--colorBlue2);
	}

	.year {
		color: var(--colorLogoYear);
		font-family: var(--fontFamilyHeading);
	}
</style>
