---
import TextSquiggly from "./TextSquiggly.astro";

interface Props {
	year?: boolean;
}
---

<div class="logo">
	<TextSquiggly width="medium">
		<Fragment slot="inside">Squiggle</Fragment>
		<Fragment slot="after">Conf</Fragment>
	</TextSquiggly>
	{Astro.props.year && <span class="year">2025</span>}
</div>

<style>
	.logo {
		color: var(--colorWhiteIsh);
		font-family: var(--fontFamilyLogo);
		font-size: var(--fontSizeLogo);
		font-style: initial;
	}

	.year {
		color: var(--colorBlue2);
		font-family: var(--fontFamilyHeading);
	}
</style>
