---
import EmphasizedText from "./EmphasizedText.astro";
import TextSquiggly from "./TextSquiggly.astro";

interface Props {
	year?: boolean;
}
---

<div class="logo">
	<TextSquiggly width="medium">
		<Fragment slot="inside">Squiggle</Fragment>
		<Fragment slot="after">Conf</Fragment>
	</TextSquiggly>
	{Astro.props.year && <EmphasizedText class="year">2025</EmphasizedText>}
</div>

<style>
	.logo {
		color: var(--colorLight);
		font-family: var(--fontFamilyLogo);
		font-size: var(--fontSizeLogo);
		font-weight: var(--fontWeightLogo);
		letter-spacing: var(--letterSpacingLogo);
	}

	.year {
		font-family: var(--fontFamilyLogo);
		font-weight: var(--fontWeightMedium);
	}
</style>
