---
import Heading from "~/components/Heading.astro";
import BodyText from "./BodyText.astro";
import ContentArea from "./ContentArea.astro";
import Sessions from "./Sessions.astro";
---

<ContentArea class="speakers">
	<div id="sessions"></div>
	<Heading id="sessions" level="h2">Sessions</Heading>

	<BodyText class="speakers-description">
		Hear from practitioners of excellent web dev tooling: the people who bring
		you the squigglies you know and love.
	</BodyText>

	<Sessions class="speakers-sessions" />
</ContentArea>

<style>
	.speakers {
		align-items: center;
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}

	h2 {
		font-family: var(--fontFamilyHeading);
		font-size: var(--fontSizeLarger);
		margin-top: 3.5rem;
		text-align: center;
	}

	.speakers-description {
		margin-bottom: 1.5rem;
		max-width: 33rem;
	}

	.speakers-sessions {
		margin-bottom: 3.5rem;
	}
</style>
