---
import { Image } from "astro:assets";
import squigglyMedium from "~/assets/design/squiggly-medium.svg";
import squigglyWide from "~/assets/design/squiggly-wide.svg";

interface Props {
	renderAs?: string;
	width: "medium" | "wide";
}

const images = {
	medium: squigglyMedium,
	wide: squigglyWide,
};

const { renderAs: As = "em", width } = Astro.props;
---

<As class:list={["text-squiggly", `text-squiggly-${width}`]}>
	<span class="text"><slot name="inside" /></span><Image
		alt=""
		class="squiggly"
		src={images[width]}
	/>
</As><slot name="after" />

<style>
	.text-squiggly {
		display: inline-block;
		font-style: inherit;
		position: relative;
	}

	.text {
		z-index: 1;
		position: relative;
	}

	.squiggly {
		position: absolute;
		left: 0;
		user-select: none;
		width: 100%;
	}

	.text-squiggly-medium .squiggly {
		bottom: -0.1em;
	}

	.text-squiggly-wide .squiggly {
		bottom: -0.2em;
	}
</style>
