---
import { Image } from "astro:assets";
import Hero from "~/components/hero/Hero.astro";
import Logo from "~/components/Logo.astro";
import { speakers } from "~/data/speakers";
import { currentYear } from "~/data/years";
import BaseLayout from "~/layouts/BaseLayout.astro";
---

<BaseLayout
	description="A Boston conference for excellent web dev tooling."
	title="Ad: Speakers"
>
	<Hero flip tall>
		<div class="ad">
			<div class="top">
				<Logo invert year={currentYear} />
				<span class="speaker-announcements">Speaker Announcements</span>
			</div>

			<ul class="speakers">
				{
					speakers.map((speaker) => (
						<li class="speaker">
							<Image
								alt=""
								class="speaker-image"
								height={96}
								src={speaker.image}
								width={96}
							/>
							{speaker.name}
						</li>
					))
				}
				<span class="speaker"></span>
				<span class="speaker"></span>
			</ul>
		</div>
	</Hero>
</BaseLayout>

<style>
	.ad {
		--widthOffset: 25%;
		align-items: flex-start;
		color: var(--colorAccentDark);
		display: flex;
		flex-direction: column;
		gap: 5rem;
		height: calc(100vh - 8.5rem);
		justify-content: center;
		padding: 7.5rem 0 5rem;
		margin: 0 calc(-1 * var(--widthOffset));
		width: calc(100% + var(--widthOffset) * 2);
	}

	.top {
		--topFontSize: 3rem;
		align-items: baseline;
		color: var(--colorLogoText);
		display: flex;
		font-family: var(--fontFamilyLogo);
		font-size: var(--topFontSize);

		gap: 1rem;
		transform: scale(1.1);
		margin-left: 3.5rem;
		width: 100%;
	}

	.logo {
		font-size: var(--topFontSize) !important;
	}

	.speaker-announcements {
		font-weight: var(--fontWeightBold);
		margin-left: 2rem;
	}

	.speakers {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		gap: 2.5rem 3.5rem;
	}

	.speaker {
		align-items: center;
		display: flex;
		gap: 0.75rem;
		font-size: 1.75rem;
		font-family: var(--fontFamilyHeading);
		font-weight: var(--fontWeightBold);
		width: calc(25% - 3rem);
	}

	.speaker-image {
		border-radius: 100%;
	}
</style>
