:root {
	/* Raw swatches */
	--colorWhite: #ffffff;
	--colorBlue1: #bcdfe9;
	--colorBlue2: #29ced6;
	--colorBlue3: #116d9a;
	--colorBlue4: #063052;
	--colorBlue5: #041930;

	--colorAccentLight: var(--colorBlue1);
	--colorAccentSecond: var(--colorBlue2);
	--colorAccentMedium: var(--colorBlue3);
	--colorAccentDark: var(--colorBlue4);
	--colorDark: var(--colorBlue5);
	--colorLight: var(--colorWhite);

	--fontFamily: "Urbanist";

	--sizeContentAreaNormal: 67rem;
	--sizeContentAreaWide: 70rem;

	color-scheme: light;

	/* colors */
}

html {
	background: var(--colorDark);
	color: var(--colorLight);
	min-height: 100%;
	font-family: var(--fontFamily);
}

html.dark {
	color-scheme: dark;

	/* Colors TBD */
}

@media (prefers-reduced-motion: no-preference) {
	html,
	body {
		scroll-behavior: smooth;
	}
}
