:root {
	/* Raw swatches */
	--colorWhite: #ffffff;
	--colorBlue1: #bcdfe9;
	--colorBlue2: #29ced6;
	--colorBlue3: #116d9a;
	--colorBlue4: #063052;
	--colorBlue5: #041930;

	--colorAccentLight: var(--colorBlue1);
	--colorAccentSecond: var(--colorBlue2);
	--colorAccentMedium: var(--colorBlue3);
	--colorAccentDark: var(--colorBlue4);
	--colorDark: var(--colorBlue5);
	--colorLight: var(--colorWhite);
	--colorUnhappy: #ffbfc2;

	--fontFamilyLogo: "Josefin Sans Variable";
	--fontFamilyText: "Urbanist Variable";

	--fontSizeSmall: clamp(1rem, 2.5vw, 1.15rem);
	--fontSizeMedium: clamp(1.25rem, 3.25vw, 1.5rem);
	--fontSizeLarge: clamp(1.5rem, 3.75vw, 2rem);
	--fontSizeHero: clamp(2rem, 5vw, 3rem);
	--fontSizeLogo: clamp(1.75rem, 4.375vw, 2.25rem);

	--fontWeightLight: 200;
	--fontWeightMedium: 300;
	--fontWeightSemibold: 500;
	--fontWeightLogo: 600;

	--letterSpacingLogo: -1px;
	--letterSpacingTight: -0.5px;

	--sizeContentAreaThin: 56rem;
	--sizeContentAreaNormal: 70rem;
	--sizeContentAreaWide: 75rem;

	color-scheme: light;

	/* colors */
}

html {
	background: var(--colorDark);
	color: var(--colorLight);
	min-height: 100%;
	font-family: var(--fontFamilyText);
}

html.dark {
	color-scheme: dark;

	/* Colors TBD */
}

@media (prefers-reduced-motion: no-preference) {
	html,
	body {
		scroll-behavior: smooth;
	}
}
