* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

a {
	color: inherit;
	text-decoration-thickness: 1px;
	text-underline-offset: 0.25em;
}

h1,
h2,
h3,
h4,
ol,
p {
	margin: 0;
	padding: 0;
	font-size: inherit;
	font-weight: inherit;
}
